@font-face {
    font-family: "Faune";
    font-weight: 400;
    src: url(assets/faune-bold.woff2), url(assets/faune-bold.woff);
}

@font-face {
    font-family: "Faune";
    font-weight: 400;
    font-style: italic;
    src: url(assets/faune-italic.woff2), url(assets/faune-italic.woff);
}

@font-face {
    font-family: "Faune";
    font-weight: 700;
    src: url(assets/faune-bold.woff2), url(assets/faune-bold.woff);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Faune", Arial;
    font-size: 1.6rem;
    background-color: #2a2a2a;
    color: #ffffff;
    margin: 4rem 4rem 4rem 32rem;
}


input[type="text"] {
    width: 100%;
    background-color: #575757;
    color: #ffffff;
    border: none;
    padding: .5rem .7rem;
}

label {
    display: block;
    margin: 0 0 .5rem 0;
}
.controls {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 28rem;
    background-color: #2a2a2a;
    padding: 3rem;
    border-right: .15rem solid rgba(255, 255, 255, 0.125);

}

.controls__title {
    font-size: 2.4rem;
    font-weight: 700;
}

.controls__control {
    margin: 1rem 0 0 0;
}